<footer>
    <div class="footer-top-part">
        <div class="footer-logo-container">
            <a href="/">
                <img src="\assets\logos\RedPers_Logo_Black_Transparent.png" alt="Red Pers Logo" width="250"/>
            </a>
        </div>
        <div class="footer-newsletter-container">
            <form class="newsletter-form" id="newsletter-form" method="post">
                <input size="1" class="newsletter-form-input" type="email" placeholder="Schrijf je in voor de nieuwsbrief van Red Pers" required="required">
                <button type="submit" class="newsletter-form-button">Ja, Graag! <svg class="newsletter-button-icon" viewBox="0 0 448 512" width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg></button>
            </form>
        </div>
    </div>

    <div class="footer-middle-part">
        <div class="footer-container">
            <h2 class="footer-title">Rubrieken</h2>
            <ul class="footer-items">
                <li class="footer-item"><a href="/">Binnenland</a></li>
                <li class="footer-item"><a href="/">Buitenland</a></li>
                <li class="footer-item"><a href="/">Politiek</a></li>
                <li class="footer-item"><a href="/">Economie</a></li>
                <li class="footer-item"><a href="/">Wetenschap</a></li>
                <li class="footer-item"><a href="/">Columns</a></li>
                <li class="footer-item"><a href="/">Podcasts</a></li>
                <li class="footer-item"><a href="/">Kunst & Media</a></li>
            </ul>
        </div>
        <div class="footer-container">
            <h2 class="footer-title">Navigeer</h2>
            <ul class="footer-items">
                <li class="footer-item"><a href="/">Voorpagina</a></li>
                <li class="footer-item"><a href="/">Voor Alumni</a></li>
                <li class="footer-item"><a href="/">Colofon</a></li>
                <li class="footer-item"><a href="/">Over Red Pers</a></li>
                <li class="footer-item"><a href="/">Meedoen</a></li>
                <li class="footer-item"><a href="/">Contact</a></li>
                <li class="footer-item"><a href="/">Doneren</a></li>
            </ul>
        </div>
        <div class="footer-container">
            <h2 class="footer-title">Service</h2>
            <ul class="footer-items">
                <li class="footer-item"><a href="/">Aanmelden</a></li>
                <li class="footer-item"><a href="/">Account aanmaken</a></li>
                <li class="footer-item"><a href="/">Wachtwoord vergeten?</a></li>
                <li class="footer-item"><a href="/">Tip de redactie</a></li>
                <li class="footer-item"><a href="/">Meld een fout</a></li>
            </ul>
        </div>
        <div class="footer-container">
            <h2 class="footer-title">Meer Red Pers</h2>
            <ul class="footer-items">
                <li class="footer-item"><a href="/">Nieuwsbrief</a></li>
                <li class="footer-item"><a href="/">Linkedin</a></li>
                <li class="footer-item"><a href="/">Facebook</a></li>
                <li class="footer-item"><a href="/">Instagram</a></li>
                <li class="footer-item"><a href="/">X (Twitter)</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom-part">
        <div class="footer-bottom-part-left">
            <p class="footer-bottom-part-left-text">© 2024 Stichting Red Pers – Alle rechten voorbehouden</p>
        </div>
        <div class="footer-bottom-part-right">
            <ul class="footer-bottom-part-right-items">
                <li class="footer-bottom-part-right-item"><a href="/">Privacystatement</a></li>
                <li class="footer-bottom-part-right-item"><a href="/">Cookiebeleid</a></li>
                <li class="footer-bottom-part-right-item"><a href="/">Copyright</a></li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>