img.article-featured-image {
    height: 400px;
    object-fit: cover;
    object-position: center center;
    width: 100%;
}

div.article-featured-image-container {
    padding: 20px 0;
}

article.article-page {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

div.article-title-container {
    padding: 20px 0;
}

h2.article-title {
    font-family: Inter;
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    margin: 0 auto
}

span.article-excerpt {
    text-align: left;
    font-family: Inter;
    font-size: 18px;
    line-height: 27px;
}

div.article-content {
    font-family: Inter;
    font-size: 16px;
    text-align: left;
    line-height: 28px;
}

div.article-content p {
    margin-bottom: 20px;
}

div.article-content a {
    display: inline;
}

div.article-content h4 {
    font-size: 18px;
}

div.article-category-date-container {
    display: flex;
    justify-content: start;
    gap: 20px;
}

div.article-category-date-like-container {
    display: flex;
    justify-content: space-between
}

p.article-category {
    font-family: Inter;
    color: rosybrown;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
}

p.article-post-date {
    font-family: Inter;
    text-transform: uppercase;
    font-size: 13px;
}

div.article-author-reading-time-container {
    padding: 30px 0;
    font-family: Inter;
    font-size: 13px;
    text-transform: uppercase;
    text-align: left;
    line-height: 28px;
}

div.article-content img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center center;
}

div.article-content figcaption {
    font-size: 13px;
    font-style: italic;
    padding-bottom: 20px;
}

div.article-content blockquote {
    font-size: 24px;
    font-weight: 700;
    padding: 20px 0;
    position: relative;
    &:before {
        content: "‘’";
        color: rosybrown;
        font-size: 60px;
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
    }
}

button#share {
    font-family: Inter;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        opacity: 0.5;
    }
    &:active {
        transform: scale(1.5);
    }
}

button#share span svg {
    margin-right: 5px;
    vertical-align: -3px;
}